body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  text-align:center;
}

.card {
  margin:20px;
  padding:20px;
  background:#1e293b;
  border-radius:10px;
}

button {
  padding:10px 20px;
  background:#22c55e;
  color:white;
  border:none;
  border-radius:8px;
}

.nav a {
  margin:10px;
  color:white;
}
